:root {
  --gray-01: #F8FAFC;
  --gray-02: #E2E8F0;
  --gray-03: #94A3B8;
  --gray-04: #334155;
  --gray-05: #1E293B;
  --gray-06: #0F172A;
  --gray-07: #020617;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

.heading {
  color: var(--gray-01);
  text-align: center;
  font-size: clamp(2.4rem, +5vw, 3.2rem);
  line-height: 130%;
  font-weight: 700;
}

.text1 {
  color: var(--gray-02);
  font-size: clamp(1.6rem, +3vw, 1.8rem);

  line-height: 150%;
  font-weight: 600;
}

.text2 {
  color: var(--gray-02);
  font-size: clamp(1.6rem, +3vw, 1.8rem);
  line-height: 150%;
  font-weight: 400;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--gray-04);
}

.icon {
  background: var(--gray-06);
  border: 1px solid var(--gray-05);
  border-radius: 1.6rem;
  font-size: clamp(2.8rem, +5vw, 4rem);
  padding: clamp(.8rem, +5vw, 1.2rem);
  color: var(--gray-03);
}

i {
  display: block;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background: url("./assets/background.png") center no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#app {
  padding: clamp(3rem, +5vw, 6rem);
  border-radius: 3.2rem;
  border: 1px solid var(--gray-04);
  background: rgba(2, 6, 23, 0.80);
  max-width: 121.6rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4.0rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.buttons {
  align-self: center;
  max-width: 60.8rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.buttons .card-button {
  display: flex;
  align-items: center;
  gap: clamp(1.6rem, +3vw, 2.4rem);
  padding: clamp(1.2rem, +3vw, 1.6rem);

  border-radius: 1.6rem;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
}


.buttons .card-button i:not(.icon) {
  margin-left: auto;
  border-radius: 1.6rem;
  font-size: clamp(2.8rem, +5vw, 4rem);
  padding: clamp(.8rem, +5vw, 1.2rem);
  color: var(--gray-03);
}

.input {
  display: flex;
  gap: 1.6rem;
}

.input .send-button {
  font-size: clamp(2.6rem, +5vw, 3.2rem);
  padding: clamp(1.2rem, +5vw, 1.6rem);

  color: var(--gray-01);

  border-radius: 1.6rem;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
}

.input div {
  flex: 1;

  display: flex;
  align-items: center;
  gap: clamp(1.2rem, +5vw, 1.6rem);
  padding: clamp(1.2rem, +5vw, 1.6rem);

  background: var(--gray-06);
  border-radius: 1.6rem;
  border: 1px solid var(--gray-04);
}

.input div button {
  color: var(--gray-03);
  font-size: clamp(2.6rem, +5vw, 3.2rem);

  padding: 0;
}

.input input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
}
.input input::placeholder {
  color: var(--gray-02);
}

/* @media (max-width: 600px) {
  html {
    font-size: 55%;
  }
} */