.select {
  max-width: 168px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.select label {
  color: #EDEAF0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.36px;
}

#category-select {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.options-view-button {
  all: unset;
  position: absolute;
  z-index: 4;
  inset: 0;
}

#select-button {
  background: var(--gray-400);
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  padding: 12px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-value {
  color: var(--gray-200);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;
}

#chevrons svg {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--gray-200);
}

#chevrons [data-lucide="chevron-up"] {
  display: none;
}

#category-select:has(.options-view-button:checked) label {
  color: var(--purple-light);
} 

.options-view-button:focus + #select-button,
.options-view-button:checked + #select-button {
  border-color: var(--purple-light);

}

#category-select:has(.options-view-button:checked) #chevrons [data-lucide="chevron-down"] {
  display: none;
}

#category-select:has(.options-view-button:checked) #chevrons [data-lucide="chevron-up"] {
  display: block;
}

#category-select:has(.options-view-button:checked) + #options {
  position: absolute;
  top: auto; right: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  
  margin-top: 4px;
  background: var(--gray-400);
  border-radius: 6px;
  border: 1px solid var(--gray-300);

  z-index: 2;
  width: 100%;
}

#options {
  /* SR-ONLY */
  position: absolute;
  top: 25px;
  right: 50%;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.option {
  padding: 12px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--gray-100);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;

  border-bottom: 1px solid var(--gray-300);
  position: relative;
}

.option svg {
  width: 16px;
  height: 16px;
}

.option svg:last-child {
  margin-left: auto;
  color: var(--purple-light);
  display: none;
}

.option:has(input:checked),
.option:hover {
  background: var(--gray-300);
}

.option:has(input:focus) {
  border-color: var(--purple-light);
}

.option:has(input:checked) [data-lucide="check"] {
  display: block;
}

.option:nth-child(1) :nth-child(2) { color: var(--yellow);}
.option:nth-child(2) :nth-child(2) { color: var(--green);}
.option:nth-child(3) :nth-child(2) { color: var(--pink);}
.option:nth-child(4) :nth-child(2) { color: var(--orange);}
.option:nth-child(5) :nth-child(2) { color: var(--blue);}

.option input[type="radio"] {
  all: unset;
  position: absolute;  
  inset: 0;
}

#unities-select #select-button {
  border-radius: 0px 6px 6px 0px;
}

#unities-select #options span {
  color: var(--gray-100);
}