.content {
  max-width: 124.6rem;
  padding: 0rem 1.5rem;
  margin: 0 auto;
  animation: show-content ease .6s;
}

@keyframes show-content {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.2rem;
  margin-bottom: 4rem;
}

.button-select .button.on{
  padding: .4rem 2.4rem;
}

.button-select .button.off {
  padding: .4rem 2.4rem;
  background: #ffffff;
  color: #6246EA;
}

.button-select .button.off:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  color: #5031e9;
}

.content h2 {
  font-size: 3.2rem;
  line-height: 140%;
  text-align: center;
  color: #121214;
}

.content #flex-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2rem;
  
  margin-bottom: 10rem;
}

.card {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 38.4rem;

  flex-grow: 1;
  flex-basis: 30rem;
  align-self: start;
  cursor: pointer;
  transition: transform .3s;
  animation: show-card ease .6s;
}

@keyframes show-card {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card:hover {
  transform: scale(1.1);
}

.card .image {
  height: 100%;
  max-height: 15.3rem;
}

.card .info {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card h3 {
  font-size: 2rem;
  line-height: 140%;
  color: #121214;
}

.card p {
  font-size: 1.6rem;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.75);
}

.card span {
  font-size: 1.6rem;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.75);
}

.card .location {
  display: flex;
  align-items: center;
  gap: .8rem;
}