* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3c3c63;
}

.mt-30 {
  margin-top: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;
  background: #1A1924;
}

#app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

