body {
  background: linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  background: var(--gray-40);
  box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  padding: 64px 96px;

  display: flex;
  flex-direction: column;
  gap: 36px;

  max-width: 846px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

.movie-card {
  max-width: 194px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie-card .title {
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  width: 140px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;

   /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical; 
}

.title .star {
  color: var(--destaque);
  font-size: 16px;
  font-weight: 600;
  line-height: 14.408px;

  display: flex;
  align-items: center;

  position: relative;
}

.title img {
  width: 40px;
  position: absolute;
  right: 15px;
}

.movie-card .poster {
  height: 289px;
  border-radius: 8px;
  overflow: hidden;
}

.movie-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p {
  color: var(--gray-10);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.info p i {
  font-size: 20px;
}