* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--brand-purple-dark, #4439C7);
}

body {
  background: linear-gradient(180deg, #0F0A31 0%, #3F347E 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#app {
  margin-top: 80px;


  max-width: 410px;
  width: 100%;
  position: relative;
  padding-top: 48px;
}

#app .product {
  background: linear-gradient(77deg, #4453B2 -0.41%, #502C9E 98.95%);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  height: 184px;
}

.product img {
  max-width: 140px;
  position: absolute;
  top: 0;
}

#app .form {
  background: #fff;
  border-radius: 0px 0px 20px 20px;
  padding: 48px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form h3 {
  color: var(--base-gray-500, #0C0C0D);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  margin-bottom: 8px;
}

.form p {
  color: var(--base-gray-400, #2F2F33);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form button {
  border: none;
  background: var(--brand-purple, #685ED9);
  border-radius: 8px;
  width: 100%;

  padding: 16px 20px;
  color: var(--base-gray-100, #FAFAFA);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.form button:hover {
  background: var(--brand-purple-dark, #4439C7);
}

.form button:disabled {
  opacity: 0.5;
  background: var(--brand-purple, #685ED9);
}

form textarea {
  background: var(--base-gray-200, #E3E1E4);
  border-radius: 8px;
  height: 120px;
  padding: 12px;
  width: 100%;

  overflow: hidden;
  color: var(--base-gray-300, #75747A);
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}