* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

.error {
  font-size: 14px;
  color: var(--status-error);

  display: flex;
  align-items: center;
  gap: 4px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-800);

  min-height: 100vh;
  font-size: 1.6rem;
}

form {
  padding: 3.2rem 2.4rem 2.4rem;
  display: grid;
  justify-items: center;
  gap: 4.8rem;
  
  background: var(--gray-800);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  max-width: 32.7rem;
}

form label {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--gray-200);
}

form input {
  padding: 12px;
  background: var(--gray-900);
  border: 1px solid var(--gray-700);
  border-radius: 4px;

  font-size: 16px;
  line-height: 100%;
  color: var(--gray-100);

  width: 100%;
  outline: 0;
}

form input::placeholder {
  color: var(--gray-400);
}

form input:focus {
  border: 1.5px solid var(--brand-color);
}

form input.invalid {
  border: 1.5px solid var(--status-error);
}

.inputs div {
  display: flex;
  flex-direction: column;
}

.inputs .row {
  flex-direction: row;
  gap: 1.6rem;
}

.inputs .row div:first-child {
  flex: 1.4;
}

.inputs .row div:last-child {
  flex: 1;
}

.safe-info {
  display: flex;
  align-items: center;
  gap: .8rem;

  font-size: 14px;
  line-height: 16px;
  color: var(--gray-200);
}

.submit-button {
  cursor: pointer;
  border: none;
  padding: 16px 48px;
  background: var(--brand-color);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--gray-50);

  justify-self: stretch;
}

.submit-button:not(:disabled):hover {
  background: var(--brand-color-light);
}

.submit-button:disabled {
  opacity: .5;
  cursor: initial;
}

.submit-button:focus {
  outline: 2px solid #F9FAFB;
}

@media (min-width: 736px) {
  #app {
    background: var(--gray-900);
  }

  form {
    padding: 3.2rem;
    grid-template-areas: "A B"
                         "A C"
                         "D D";
    column-gap: 6.8rem;

    border: 1px solid var(--gray-700);
    border-radius: 8px;
  }

  .inputs {
    grid-area: A;
  }

  .credit-card {
    grid-area: B;
  }

  .safe-info {
    grid-area: C;
  }

  .submit-button {
    grid-area: D;
  }
}