:root {
  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --status-error: #FB7185;
  
  --gray-400: #9CA3AF;
  --gray-300: #D1D5DB;;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;
  
  --brand-color: #9333EA;
  --brand-color-light: #A855F7;
}
