
@media (max-width: 840px) {
  .item .buttons .modal {right: 4px;}
}

@media (max-width: 586px) {
  form {
    flex-wrap: wrap;
  }

  form .input {
    max-width: none;
  }

  .unit {
    flex: 1;
    max-width: none;
  }

  form .select {
    max-width: none;
    flex: 1;
  }
}